@font-face {
  font-family: "Futura";
  src:
    url("Futura.TTF")
}


html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #28282B;
  overflow: hidden;
}

* {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#generator {
  margin-bottom: auto;
  margin-top: auto;
  width: fit-content;
  height: fit-content;
  background-color: #e63a3a;
  border-color: #b31717;
  border-style: solid;
  color: white;
  border-radius: 10px;
  font-family: "Futura";
  font-size: 3vh;
  transition: scale 0.1s ease-in-out;
}

#generator:hover {
  scale: 105%;
  cursor: pointer;
}

#generator:active {
  scale: 95%;
  cursor: grabbing;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
}

#buttons {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: calc(fit-content + 10%);
  gap: 12px;
  z-index: 50;
}

#show {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  background-color: white;
  font-family: "Arial";
  font-weight: bold;
  border-radius: 5px;
}

#video {
  opacity: 0;
  border-radius: 5px;
}

.break {
  height: 1vh;
}
